@media screen and (max-width: 768px){
    h1{
       font-size: 60px;
       font-weight: 100;
 
    }
    h2{
        font-size: 18px;
    }
    .col-sm-5{
        flex: 50%;
        max-width: 100%;
    }
    .col-sm-7{
        flex: 50%;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    h1{
      font-size: 29px;
      letter-spacing: -0.5px;
     width: 100%;
    height: 100%;
    margin-top: 50px;
    }
    article{
        display: none;
    }
    h2{
        font-size: 14px;
        line-height: 1.57;
        text-align: center;
        margin: 50px 0 50px 0;
    }
    label{
        font-size: 12px;
}
    .email{
        width: 280px;
        height: 28px;
    }
    .bouton{
        width: 280px;
        height: 28px;
    }
    .basline{
          font-size: 12px;
          font-weight: 300;
          text-align: center;
    }
    .input{
    display: flex;
    flex-direction: column;
}
}
		